html,
body {
  height: 100%;
}

body {
  font-family: 'Inter-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: $white;
  background-color: $bg;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 984px;
  margin: 0 auto;
}

.container-fluid{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
}


.title {
  font-family: 'Inter-Black', sans-serif;
  max-width: 460px;
  font-size: 72px;
  line-height: 76px;
  width: 50%;
}